

footer {
   width: 100%;
   color: white;
   background: rgba(0, 0, 0, 1);
}

footer li {
   list-style: none;
}

footer > a img {
   width: 90px;
   padding: 1rem;
}


footer a {
   color:  white;
   text-decoration: none;
}


@media screen and (min-width: 360px){

       footer {
              text-align: center;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.3s ease;
       }
       
       footer.show {
              opacity: 1;
              visibility: visible;
       }

      footer li {
         padding-bottom: 5px;
      }

       footer #menu-footer {
         padding: 0px 0 15px;
      }

      footer #copyright {
         padding: 0px 0 .8rem;
      }

}

@media screen and (min-width: 768px){

       footer {
              text-align: left;
       }

       footer li {
          padding-right: 1rem;
       }

       #menu-footer {
              display: flex;
       }

       footer #copyright {
         padding: 0 1rem 15px;
      }

      footer li {
         padding: 0px 1rem 0;
      }
} 
