

#lightbox { 
    visibility: hidden; 
    background: rgba(0, 0, 0, .9); 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    inset: 0; 
    z-index: 5; 
    width: 100%; 
    color: white; 
    font-weight: bold; 
}

#lightbox #arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

#lightbox p {
    margin-top: 1rem;
}

#lightbox #arrows img {
    width: 50px;
    height: 50px;

    cursor: pointer;
}

@media screen and (min-width: 360px) {

    #lightbox > img { 
        width: 50%; 
        border-radius: 10px; 
    } 

    #lightbox #arrows {
        top: 52%;
    }
}

@media screen and (min-width: 768px) {

    #lightbox > img { 
        width: 30%; 
        border-radius: 10px; 
    } 
}















/*close button*/ 
#close-btn { 
    position: relative; top: -0px; 
    right: -40%; font-size: 50px; 
    color: white; cursor: pointer; 
}
